@media only screen and (max-width:560px){
    .sec-imgs{
        display: none;
    }
    .nav-center{
        height:100px;
        width:100%;
        background-color: var(--color-light-olive);
        position:fixed;
    }
    .nav-header{
    width:100%;
    margin: auto;
    }
    .btn{
        height:30px;
    
    }
    nav ul li{
        display: block;
    }
    .sec-storee{
        display: none;
    }
    .line{
        width:80px;
        height:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-light-olive);
    }
    .links{
       position: fixed;
       transform: translateY(-100%);
       transition: transform 0.2s;
       top:0;
       left:0;
       right:0;
       bottom:0;
       z-index: 99;
       height: 580px;
       width:100%;
       background: var(--color-light-olive);
       color: var(--color-olive);
       list-style: none;
       padding-top: 5rem;
      
       margin-left: 0px;
       
    }  
  
    .show-links{
        transform: translateY(0);
    }
    li{
        text-align: center;
        margin-top: 40px;
        
    }
    li:hover{
        background: var(--color-olive);
        color: var(--color-light-olive);
    }
    ul li > a{
        letter-spacing: 2px;
        line-height: 75px;
        font-size: 100%;
      
        margin-top: 100px;
        cursor: pointer;
        color: var(--color-olive);
        font-weight: bolder;
       
    }
    a:hover{
       color:whitesmoke;
    }
    .item{
        text-align: center;

    }  
    .logo{
        height:100px;
       display: inline;
       margin-left:10px;
    
    }
    .menu-btn{
        position: fixed;
        z-index: 100;
        top:1.5rem;
        padding:4px;
        width: 90px;
        border:var(--color-light-olive) solid 1px;
        background: var(--color-light-olive);
        cursor: pointer;
        margin-left: 105px;


    }
   .btn:hover{
       transform: rotate(90deg);
    }
     .menu-btn{
        display: block;
        
    }
    main{
        height:400px;
        display: flex;
        flex-direction: column;
        width:100%;
        /* border: 3px solid red; */
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--color-olive);
        background-image: url('../img/conor-brown-sqkXyyj4WdE-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: lighter;
    }
    main button{
        height: 40px;
        width: 100px;
        background-color: var(--color-olive);
        color:var(--color-light-olive);
        font-weight: bolder;
        margin-top: 40px;
    }
    main h1{
        margin-top: 150px;
        font-size: 200%;
        text-decoration: none;
    }
    main span{
        margin-top:55px;
    }
    h1{
       font-size: 200%;
      
    }
   
     p{
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        margin: 20px;
    }
    .sec-three{
        display: flex;
        flex-direction: column;
        height:750px;
        /* border: 3px solid red; */
        width:100%;
    }
    .sec-block{
        display: flex;
      flex-direction: column;
        border: 1px solid var(--color-light-olive);
        height:170px;
        margin-left: 30px;
        margin-top:70px;
        box-shadow: 3px 3px 3px var(--color-light-olive);
        width:80%;
       color: var(--color-olive);
        text-align: center;
    }
    .sec-block img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height:40px;
        width:40px;
        margin-left: 135px;
        
    }
    .sec-mainn{
        display: flex;
        flex-direction: column;
        height:200px;
        width:100%;

        background-color: var(--color-olive);
        color: var(--color-light-olive);
    }
    .sec-mainn h2{
        text-align: center;
        margin-top: 20px;
        text-decoration: overline;
    
    }
    .sec-main span{
        font-family: 'Great Vibes', cursive;
    }
    .sec-four{
        display: flex;
        flex-direction: column;
        height:200px;
        width:100%;
    }
    .questions{
      display: none;
    }
    .sec-store{
        height:700px;
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .sec-store img{
        height:300px;
        width:30%;
        margin-left: 0px;
    }
   
    .sec-store{
        height:200px;
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .sec-store img{
        height:200px;
        width:100%;
    }
    footer{
        height:600px;
        width:100%;
        background-color: var(--color-olive);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--color-light-olive);
    }
    .info{
        display: flex;
        flex-direction: column;
        text-align: center;
        height:120px;
        margin: 20px;
        margin-left:10px;
       /* border: 3px solid red; */
        color:var(--color-light-olive);
        width:60%;
    }
    /* hide text */
    .info input{
        margin: 10px;
        margin-left: 10px;
        width:200px;
        height:30px;
        border:none;
    
    }
    .info button{
        display: flex;
        justify-content: center;
        align-items: center;
       color: var(--color-olive);
       background-color: var(--color-light-olive);
       width:100px;
       height:30px;
       border: none;
       margin: 5px;
       margin-left: 60px;
    }
    .info span{
        margin-top: 10px;
    }
   
    footer img{
        height:120px;
        width: 120px;
        margin-top: 10px;
        margin-left: -20px;
    }
    .brand{
       font-weight: bolder;
       text-decoration: overline;
       margin-top: 50px;
    }

}
@media only screen and (min-width:700px) and (max-width:900px){

    .nav-header{
        height:100px;
       display: flex;
       flex-direction: row;
        width:100%;
        background-color: var(--color-light-olive);
        position:fixed;
    }
    nav ul li{
        display: inline;
    }
    header{
        text-align: center;
    }
    ul{
       
        margin:20px;
        height:50px;
        margin-left: 200px;
    
    }
    ul li > a{
        display: inline;
        letter-spacing: 2px;
        line-height: 55px;
        font-size: larger;
        margin-left: 25px;
        margin-top: 20px;
        cursor: pointer;
        color: var(--color-olive);
        font-weight: bolder;
    }
    a:hover{
       color:whitesmoke;
    }
    .text{
        margin-left: 50px;
    }
    nav img{
        height:100px;
       display: inline;
       margin-left:100px;
    
    }
    .btn{
        display:none ;
    }
     .menu-btn{
        display: none;
     }
    .item{
        text-align: center;

    }  
    .logo{
        height:100px;
       display: inline;
       margin-left:10px;
    
    }
  
    main{
        width: 100%;
    }
    main{
        height:500px;
        display: flex;
        flex-direction: column;
        width:100%;
        /* border: 3px solid red; */
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--color-olive);
        background-image: url('../img/conor-brown-sqkXyyj4WdE-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-weight: lighter;
    }
    main h1{
        margin-top: 120px;
       
    }
    main span{
        font-family: 'Great Vibes', cursive;
    }
    main button{
        display: block;
        height: 40px;
        width: 100px;
        background-color: var(--color-olive);
        color:var(--color-light-olive);
        font-weight: bolder;
        margin-top: 10px;
    }
    .sec-block{
        display: flex;
      flex-direction: column;
        border: 1px solid var(--color-light-olive);
        height:200px;
        margin-left:20px;
        margin-top:40px;
        box-shadow: 3px 3px 3px var(--color-light-olive);
        width:30%;
       color: var(--color-olive);
        text-align: center;
    }
    .sec-block img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height:40px;
        width:40px;
        margin-left: 105px;
        
    }
    .sec-main{
        display: flex;
        flex-direction: column;
        width:100%;
       
    }
    .sec-main p{
        margin-top: 15px;
    }
    .sec-main span{
        font-family: 'Great Vibes', cursive;
    }
    .sec-mainn{
     display: none;
       
    }
    .img-store{
        width:50%;
        height:300px;
    }
    .img-store img{
        width:100%;
        height:300px;
    }
   .sec-mainn-one{
    width:50%;
    height:300px;
    background-color:var(--color-light-olive) ;
    color:var(--color-olive);
    text-align: center;

   }
   .sec-mainn-one h2{
    margin-top: 30px;
   }
   .sec-mainn-one p{
    margin:30px;
   }
    .sec-store{
        height:400px;
        width:100%;
        display: flex;
        flex-direction: row;
    }
    .story{
        background-color:var(--color-olive) ;
        color:var(--color-light-olive);
    }
    .sec-storee{
        height:300px;
        width:100%;
        display: flex;
        flex-direction: row;
    }
  
    .questions{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #EEE8E4;
        width: 100%;
       height: 650px;
    }
    .title{
        font-family: 'Great Vibes', cursive;
        color:var(--color-olive);
        margin-top: 50px;
        font-size: larger;
      text-align: center;
       
    }
    .ctnr{
        display: flex;
        flex-direction: column;
    }
    .question-title{
        margin-top: -20px;
    }
    .sec-center{
 
        margin-top: 50px;
           box-shadow: 2px 2px 5px grey;
           border-radius: 10px;;
           height:120px;
           width:60%;
           margin-left: 40px;
       }
    .sec-store{
           height: 400px;
           height:300px;
         width:100%;
         display: flex;
         flex-direction: column;
    }
    .sec-store img{
        height:400px;
        width:100%;
    }
    footer{
        color: var(--color-light-olive);
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    footer img{
        height:130px;
        width: 130px;
        margin-left: 5px;;
    }
    .info{
        display: flex;
        flex-direction: column;
        height:200px;
        margin-top: 100px;
        margin-left:30px;
        color:var(--color-light-olive);
        /* border:3px solid blue; */
        width:20%;
    
        text-align: center;
        font-weight: bolder;
    }
    .info input{
        margin: 10px;
        margin-left: 2px;
        width:250px;
        height:30px;
        border:none;
    
    }
    .info button{
        display: flex;
        justify-content: center;
        align-items: center;
       color: var(--color-olive);
       background-color: var(--color-light-olive);
       width:100px;
       height:30px;
       border: none;
       margin: 5px;
       margin-left: 60px;
    }
    .brand{
        font-weight: bolder;
        text-decoration: overline;
        margin-top: 50px;
     }
 
   
} 

@media only screen and (min-width: 1000px) {
    .nav-center{
        height:100px;
        width:100%;
        background-color: var(--color-light-olive);
        position:fixed;
    }
    .nav-header{
    width:100%;
    margin: auto;
    }
    nav img{
        height:100px;
       display: inline;
       margin-left:100px;
    
    }
    ul li > a{
        display: inline;
        letter-spacing: 2px;
        line-height: 55px;
        font-size: 130%;
        margin-left: 15px;
        margin-top: 20px;
        cursor: pointer;
        color: var(--color-olive);
        font-weight: bolder;
    }
    ul{
       
        margin:20px;
        height:50px;
        margin-left: 400px;
    
    }
    main h1{
        margin-top: 150px;
        font-size: 450%;
       
    }
    main button{
        display: block;
        height: 60px;
        width: 250px;
        background-color: var(--color-olive);
        color:var(--color-light-olive);
        font-weight: bolder;
        margin-top: 60px;
    }
    main button:hover{
        background-color: var(--color-light-olive);
        color:var(--color-olive);
    }
    .sec-main p{
        margin-top: 10px;
    }
    .sec-main span{
        font-family: 'Great Vibes', cursive;
        margin-top: 10px;
    }
    .sec-block{
        display: flex;
      flex-direction: column;
        border: 1px solid var(--color-light-olive);
        height:200px;
        margin-left:80px;
        margin-top:40px;
        box-shadow: 3px 3px 3px var(--color-light-olive);
        width:25%;
       color: var(--color-olive);
        text-align: center;
    }
    .sec-block img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        height:50px;
        width:50px;
        margin-left: 110px;
        
    }
    .sec-block h4{
        margin-top: 15px;
    }
    .sec-block p{
        margin-top: 10px;
    }
    .sec-three{
        height:280px;
    }
    .sec-store{
        display: none;
    }
    .sec-storee{
        height:400px;
        width:100%;
        display: flex;
        flex-direction: row;
       
    }
    .sec-mainn{
        display: none;
    }
    .sec-mainn-one{
        width:50%;
        height:400px;
        background-color:var(--color-light-olive) ;
        color:var(--color-olive);
        text-align: center;
    
       }
    .img-store{
        width:50%;
        height:400px;
    }
    .img-store img{
        width:100%;
        height:400px;
    }
   .story{
       background-color: var(--color-olive);
       color:var(--color-light-olive);
   }
       .sec-mainn-one h2{
        margin-top: 50px;
       }
       .sec-mainn-one p{
        margin:50px;
       }
    .questions{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #EEE8E4;
        width: 100%;
       height: 700px;
    }
    .title{
        font-family: 'Great Vibes', cursive;
        color:var(--color-olive);
        margin-top: 50px;
        font-size: larger;
      text-align: center;
       
    }
    .question-title{
        margin-top: -10px;
    }
    .sec-center{
 
        margin-top: 50px;
           box-shadow: 2px 2px 5px grey;
           border-radius: 10px;;
           height:120px;
           width:60%;
           margin-left: 30px;
       }
       footer{
        text-align: center;
        color:var(--color-light-olive);
       }
       footer img{
        display: flex;
        justify-content: center;
        align-items: center;
       }
       .brand{
        font-weight: bolder;
        text-decoration: overline;
        margin-top: 50px;
     }
     .info input{
        margin-left: 0px;
     }
 
}
@media only screen and (min-width: 1500px) {
    ul{
       
        margin:20px;
        height:50px;
        margin-left: 1150px;
    
    }
    ul li > a{
        display: inline;
        letter-spacing: 2px;
        line-height: 55px;
        font-size: larger;
        margin-left: 40px;
        margin-top: 20px;
        cursor: pointer;
        color: var(--color-olive);
        font-weight: bolder;
    }
    .sec-block img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height:40px;
        width:40px;
        margin-left: 225px;
        
    }


}