/* Box Model Hack */
*,
*::after,
*::before{

  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.nav-header,footer {
    clear: both;
   
}
body{
   
    width: 100%;
    font-family: var(--font-Body);
    transition: .3s;
}
html{
    scroll-behavior: smooth;
   
}

/*********PROPERTIES AND COLORS FOR LAYOUT***********/

/******************************************
/* BASE STYLES
/*******************************************/

:root{
    --color-black:black;
    --color-Nobel:#B5B5B5;
    --color-Athensgray:#B5B5B5;
    --color-jumbo:#808084;
    --color-Lynch:#5D7288;
     --color--brown:#AA8262;
     --color-light-olive:#c5c9b1;
     --color-olive:#394d46;
    --font-Body:font-family: 'Montserrat', sans-serif;
}
.nav-header{
    height:100px;
   display: flex;
   flex-direction: row;
    width:100%;
    background-color: var(--color-light-olive);
    position:fixed;
}
nav ul li{
    display: inline;
}
header{
    text-align: center;
}
ul{
   
    margin:20px;
    height:50px;
    margin-left: 700px;

}
ul li > a{
    letter-spacing: 2px;
    line-height: 55px;
    font-size: larger;
    margin-left: 25px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color-olive);
    font-weight: bolder;
}
a:hover{
   color:whitesmoke;
}
.text{
    margin-left: 50px;
}
nav img{
    height:100px;
   display: inline;
   margin-left:100px;

}

 .menu-btn{
   display: none;
}
main{
    height:500px;
    display: flex;
    flex-direction: column;
    width:100%;
    /* border: 3px solid red; */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--color-olive);
 
   background-image: url('../img/conor-brown-sqkXyyj4WdE-unsplash.jpg');
   background-repeat: no-repeat; 
   background-size: cover; 
   
   font-weight: lighter;
     
}
main button{
    height: 80px;
    width: 250px;
    background-color: var(--color-light-olive);
    color:var(--color-olive);
    margin-top: 150px;
    border: 4px solid var(--color-olive);
    
}
main h1{
    margin-top: -300px;
    font-size: 500%;
    text-decoration: overline;

}
.sec-main{
    display: flex;
    flex-direction: column;
    height:150px;
    width:100%;
    text-align: center;
    background-color: var(--color-olive);
    color: var(--color-light-olive);
}
.sec-main h2{
    text-align: center;
    margin-top: 30px;
    text-decoration: overline;

}
.sec-main span{
    font-family: 'Great Vibes', cursive;
}
.sec-main p{
    margin-top: 10px;
}
.sec-store{
    height:800px;
    width:100%;
    display: flex;
    flex-direction: row;
}
.sec-store img{
    height:750px;
    width:100%;

}
.sec-two{
    display: flex;
      
    height:300px;
    width:100%;
    justify-content: center;
     color: var(--color-olive);
    align-items: center;
}
.sec-two p{
    margin: 10px;
    text-align: center;
    
}
.sec-storee{
    height:450px;
    width:100%;
    display: flex;
    flex-direction: row;
    
    
}
.sec-mainn{
    display: none;
}
.sec-mainn-one{
    width:50%;
    height:450px;
    background-color:var(--color-light-olive) ;
    color:var(--color-olive);
    text-align: center;

}
.sec-mainn-one p{
    margin-left: 60px;
    margin-right: 60px;
}
   .story{
    background-color:var(--color-olive) ;
    color:var(--color-light-olive);
   }
.img-store{
    width:50%;
    height:450px;
}
.img-store img{
    width:100%;
    height:450px;
}
.sec-store{
    display: none;
}
.sec-img{
    height:400px;
    width:80%;
    border: 3px solid red;

}
h1{
   font-size: 400%;
   margin-top: -50px;;
}
.sec-img img{
    height:400px;
    width:100%;
}
 p{
    margin-top: 50px;
}
.sec-three{
    display: flex;
    flex-direction: row;
    height:300px;
    background-color:#EEE8E4;
    /* border: 3px solid red; */
    width:100%;
}
.sec-mainn-one h2{
    margin-top: 100px;
    font-size: 200%;
   }
   .sec-mainn-one p{
    margin:50px;
   }
.sec-block{
    display: flex;
   flex-direction: column;
    border: 1px solid var(--color-light-olive);
    height:210px;
    margin-left: 40px;
    margin-top:50px;
    box-shadow: 3px 3px 3px var(--color-light-olive);
    width:30%;
   color: var(--color-olive);
    text-align: center;
}
.sec-block img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height:60px;
    width:60px;
    margin-left: 200px;
    
}
.sec-block p{
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 50px;
}

.questions{
    /* border:3px solid blue; */
    height:900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #EEE8E4;
    letter-spacing: 2px;
}
.ctnr{
    width:100%;
}
.title{
    font-family: 'Great Vibes', cursive;
    color:var(--color-olive);
    margin-top: -50px;
    font-size: larger;
}
.question-title {
    margin-top:-80px ;
}
main span{
    font-family: 'Great Vibes', cursive;
}
.sec-center{
 
 margin-top: 50px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;;
    height:90px;
   
    width:40%;
    text-align: center;
 
}

.plus-icon,.minus-icon{
  

}

.plus-icon img{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    width:30px;
   
}
.minus-icon img{

    height:30px;
    width:30px;
}
.menu-btn{
    display: none;
}
.title{
    font-size: 200%;
    margin-top: 20px;
}

.question-btn{
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color:gold;
    transition:2s;
    display: inline;
    margin-top: 10px;
}

.question-text{
    
        padding: 1rem 0 1.5rem 0;
        border-top: 5px soild black;
       
}
.question-text 
{
   display: none;
    text-align: center;
    margin: 20px;
    margin-left: 0px;
    border-top:1px solid grey;
    background-color: #EEE8E4;
    border-radius: 10px;
    width:100%;
}
.question-text p{
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 2px;
    color: var(--color-jumbo);
    
}
footer{
    height:200px;
    width:100%;
    background-color: var(--color-olive);
    display: flex;
    flex-direction: row;
}
footer img{
    margin-left: 350px;
    height:150px;
    width:150px;
}
.info{
    display: flex;
    flex-direction: column;
    height:200px;
    margin: 20px;
    margin-left:30px;
    color:var(--color-light-olive);
    /* border:3px solid blue; */
    width:20%;

    text-align: center;
    font-weight: bolder;
}

.brand{
    text-align: center;
}
.info button{
    display: flex;
    justify-content: center;
    align-items: center;
   color: var(--color-olive);
   background-color: var(--color-light-olive);
   width:100px;
   height:30px;
   border: none;
   margin: 5px;
   margin-left: 110px;
}
.info input{
    margin: 10px;
    margin-left: 40px;
    width:250px;
    height:30px;
    border:none;

}
.info span{
    margin-top: 10px;
}
.question-text{
    transform: translateY(-20%);
    position:relative;
       
       transition: transform 0.2s;
       top:0;
       left:0;
       right:0;
       bottom:0;
       z-index: 99;
       height: 100px;
}
/* hide text */
.show-text .question-text{
    display: block;
}

.minus-icon{
    display: none;
}
.show-text .minus-icon{
    display: inline;
}
.show-text .plus-icon{
    display: none;
}
.show-text{
    transform: translateY(0);
}
.sec-imgs{
width:100%;
height:200px;
display: flex;
flex-direction: row;

}
.sec-imgs img{
    width:20%;
    height:200px; 

}

